{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Delete Collection{% endblock %}

{% block content %}
<div class="container mt-5 mb-5 product-form-container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="auth-card">
                <h1 class="auth-title">Delete Collection</h1>
                <p>Are you sure you want to delete "{{ collection.name }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'admin_list_collections' %}" class="btn btn-outline-pink me-2">Cancel</a>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
